@import "tailwindcss";

:root {
  --vp-c-brand: var(--color-green-600);
  --vp-c-brand-light: var(--color-green-400);
  --vp-c-brand-lighter: var(--color-green-200);
  --vp-c-brand-lightest: var(--color-green-50);
  --vp-c-brand-dark: var(--color-green-900);
  --vp-c-brand-dark: var(--color-green-950);
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
    --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--color-teal-700) 30%,
    var(--color-cyan-400)
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--color-teal-700) 50%,
    var(--color-cyan-400) 50%
  );
}

.img-bordered {
  border: 2px solid #ddd;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
}